{% extends 'base.html' %} {% block content %}

<h1 class="fade-in-text">Games</h1>
<h3>Play a variety of games.</h3>


<div>
    <script src="https://cdn.htmlgames.com/embed.js?game=CarromPool&amp;bgcolor=white"></script>
</div>

<br>

<div>
    <script src="https://cdn.htmlgames.com/embed.js?game=DunkBalls&amp;bgcolor=white"></script>
</div>

<br>

<div>
    <script src="https://cdn.htmlgames.com/embed.js?game=AllFivesDomino&amp;bgcolor=white"></script>
</div>

<br>

<div>
    <script src="https://cdn.htmlgames.com/embed.js?game=Free-cell&amp;bgcolor=white"></script>
</div>

<br>


{% endblock %}
