{% extends 'base.html' %} {% block content %}

<h1 class="fade-in-text">News</h1>

{% for article in data.articles %}

<div class="card text-white bg-dark mb-3" style="width: 26rem">
  <img src="{{ article.urlToImage}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.description }}</p>
    <p class="card-text">{{ article.content }}</p>
    <a href="{{ article.url }}" class="btn btn-dark"
      >{{article.source.name}}</a
    >
  </div>
</div>
<br />
{% endfor %} {% endblock %}
