{% extends 'base.html' %} {% block content %}

<h1 class="fade-in-text">Random Reddit</h1>

<div
  class="jumbotron"
  class="card text-white bg-dark mb-3"
  style="width: auto; padding: auto"
>
  <div class="card-body">
    <h1 class="display-4">{{ sub }}</h1>
    <br />
    <p class="lead">{{ subPrefix }}</p>
    <br />
    <p class="card-text">{{ selftext }}</p>
    <br />
    <a href="{{ article.url }}" class="btn btn-dark">Next</a>
    <a href="https://www.reddit.com/{{ subPrefix }}" class="btn btn-dark"
      >Link to Subreddit</a
    >
  </div>
</div>
<br />

{% endblock %}
